{% extends "layout.html" %}
{% block content %}
 {% for randevu in randevular %}
    <p> {{ randevu.name }} {{ randevu.surname }} {{randevu.phone}} - {{ randevu.meet }} for {{ randevu.service }} at {{ randevu.hours }}</p>
    <form action="/randevusil" method="post">
    <input type="hidden" name="id" value="{{ randevu.id }}">
    <input type="submit" value="SİL" onclick="return confirm('Bu randevuyu silmek istediğinize emin misiniz?');">

    </form>
    {% endfor %}
    <a href="/">Home</a>
{% endblock %}
